.form-control{
    font-size: small;
}
.form-label {
    font-family: Helvetica;
    font-size: small;
    color: gray;
}
.form-select {
    font-size: small;
    color: gray;
}

.filter {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
  }
